<module>
	<rawname>configedit</rawname>
	<name>Config Edit</name>
	<repo>extended</repo>
	<version>17.0.1</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<description>
		Configuration file editor for _custom files
	</description>
	<more-info>https://wiki.freepbx.org/display/FPG/Configuration+File+Editor</more-info>
	<changelog>
		*17.0.1* Inital 17.0 release
	</changelog>
	<category>Admin</category>
    <menuitems>
    	<configedit>Config Edit</configedit>
    </menuitems>
	<supported>
		<version>17.0</version>
	</supported>
	<depends>
		<version>17.0</version>
	</depends>
</module>
