<module>
	<rawname>configedit</rawname>
	<name>Config Edit</name>
	<repo>extended</repo>
	<version>13.0.7</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<description>
		Configuration file editor for _custom files
	</description>
	<changelog>
		*13.0.7* FREEPBX-11182 Allow deletion of custom files
		*13.0.6* FREEPBX-10282 allow creation of custom files
		*13.0.5* FREEPBX-10130 Allow viewing of read only files (non-custom)
		*13.0.4* Remove need for Usermanager
		*13.0.3* Resize properly to browser window. Don't expand into the infinite
		*13.0.2* Made navigation easier to understand
		*13.0.1* Inital release with support for editing custom.conf files.
	</changelog>
	<category>Admin</category>
    <menuitems>
    	<configedit>Config Edit</configedit>
    </menuitems>
	<supported>
		<version>13.0</version>
	</supported>
	<depends>
		<version>13.0</version>
	</depends>
</module>
